body {
  font-family: sans-serif;
  background-color: #f9f9f9;
  margin: 0;
  padding: 20px;
}

.container {
  max-width: 400px;
  margin: auto;
  background: white;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.logo {
  width: 100px;
  display: block;
  margin: auto;
}

h2 {
  text-align: center;
  color: #4b296b;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  font-weight: bold;
  margin-top: 10px;
}

input {
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.password-box {
  display: flex;
  align-items: center;
}

.password-box input {
  flex: 1;
}

.eye {
  margin-left: -30px;
  cursor: pointer;
}

a {
  font-size: 0.9em;
  color: #4b296b;
  text-decoration: underline;
  margin-bottom: 10px;
}

button {
  background-color: #3a9a00;
  color: white;
  padding: 12px;
  margin-top: 10px;
  border: none;
  border-radius: 30px;
  font-weight: bold;
  cursor: pointer;
}

.alt-btn {
  background: none;
  border: 2px solid #3a9a00;
  color: #3a9a00;
}

.or {
  text-align: center;
  margin: 10px 0;
}

footer {
  margin-top: 15px;
  text-align: center;
  font-size: 0.9em;
}
